/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
	padding: 3%;
}

ul {
	display: flex;
	justify-content: space-between;
}
ul li.menu-item {
	align-self: center;
    box-sizing: border-box;
}

#slogan, #snippet {
	display: inline-block;
	height: 100%;
	width: 40%;
	min-height: 30rem;
	max-height: 30rem;
}

#slogan {
	background-color: black;
}

#snippet {
	background-color: white;
}


.main-panel {
	min-height: 30em;
	max-height: 30em;
	justify-content: space-around;
    align-items: center;
}

.inline-block {
	display: inline-block;
}

.width-49 {
	width: 49%;
}

.width-33 {
	width: 33%;
}

.middle-img {
	width: 100%;
}

pre {
	text-align: center;
	padding: 5% 0% 0% 0%;
}

article section {
	padding: 5% 0% 5% 0%;
}

p {
	padding: 14px 0px 14px 0px;
}

footer {
	padding: 5% 0% 5% 0%;
}

nav li a {
	color: grey;
    text-decoration: none;
}

.parent {
	min-height: 30em;
	max-height: 30em;
}

.child {
	display: inline-block;
	width: 49.5%;
	min-height: 30em;
	max-height: 30em;
}

.container h1 {
	font-size: 70px;
}

.parent .child:first-child {
	top: -20px;
    bottom: 0px;
    padding: 10% 0% 0% 0%;
	box-sizing: border-box;
	text-align: center
}
.parent .child:last-child {
	vertical-align: bottom;
    text-align: left;
}

.parent .child:last-child img {
	align-self: center;
	width: 410px;
}

button {
	height: 27px;
    width: 105px;
    background-color: transparent;
    font-family: inherit;
    background-image: none;
}

.container {
	display: flex;
}

.center-align {
	text-align: center;
}

.services-header-img {
	flex-grow: 1;
}

#services {
	display: flex;
	flex-wrap: wrap;
}
#services section {
	width: 47.5%;
	padding: 2%;
	background-color: #F4F3F4;
    border: 1px solid black;
}

.table {
	margin-bottom: 5%;
}

.table:nth-child(2n+1) {
	margin-right: 5%;
}

.table button {
	height: 27px;
    width: 105px;
    background-color: rgb(255, 253, 253);;
    font-family: inherit;
	background-image: none;
	border-radius: 3px;
    border-color: black;
}

.services-section h1 {
	font-size: 28px;
}

.services-section {
	margin: 3% 0% 3% 0%;
}

.service-main-panel {
	margin-top: 3%;
}

.facts-item {
	width: 50%
}

.flew-grown-1 {
	flex-grow: 1
}

.facts-list {
	display: flex;
	flex-direction: column;
	list-style: square
}

.fact-item {
	padding: 0% 0% 3% 5%;
	margin-left: 5%
}

/* #F4F3F4 */

/* #services section {
    width: 45%;
    padding: 1%;
    background-color: #F4F3F4;
    margin: 0% 5% 5% 0%;
    box-sizing: border-box;
} */

hr {
	margin-bottom: 45px;
    background-color: black;
}

.container.main-panel {
	border-bottom: 2px solid;
}

section.container:last-child {
	border-bottom: 2px solid;
}

button {
	height: 29px;
	width: 168px;
	background-color: transparent;
	font-family: inherit;
	background-image: none;
	margin-top: 5%;
}

/* start of desktop styles */

@media screen and (max-width: 479px) {
/* start of phone styles */

	body {
		padding: 0%;
	}

	ul {
		display: flex;
		flex-direction: column;
		text-align: center;
		/* justify-content: space-between; */
	}
	ul li.menu-item {
		width: 100%;
		border-bottom: 1px solid black;
		padding: 4.8%
	}

	ul li.menu-item:nth-child(1) {
		order: 2
	}

	ul li.menu-item:nth-child(2) {
		order: 3
	}

	ul li.menu-item:nth-child(3) {
		order: 4
	}

	ul li.menu-item:nth-child(4) {
		order: 5
	}
	
	ul li.menu-item:nth-child(5) {
		order: 6
	}
	
	ul li.menu-item:nth-child(6) {
		order: 7
	}

	ul li.menu-item:nth-child(7) {
		order: 1;
	}

	.logo {
		width: 9em;
	}

	.main-panel img {
		display: none;
	}

	.container.main-panel {
		margin: -18% 3% 0% 3%;
    	padding-top: 12%;
		justify-content: center;
		border-bottom: 2px solid black;
	}
	
	section.container {
		flex-direction: column;
		margin: 5%;
	}
	
	section.container div {
		margin-bottom: 5%;
	}

	section.container:last-child {
		border-bottom: 2px solid black;
	}

	.middle-img {
		width: 90%;
		margin: 0% 5% 0% 5%;
	}

	footer {
		padding: 5% 5% 5% 5%;
	}

	button {
		height: 29px;
		width: 168px;
		background-color: transparent;
		font-family: inherit;
		background-image: none;
		margin-top: 5%;
	}
}

@media screen and (max-width: 1100px) {
	/* start of large tablet styles */

	ul {
		flex-wrap: wrap
	}
	.main-panel img {
		display: none;
	}

	.container.main-panel {
		justify-content: center;
		border-bottom: 2px solid;
	}

	section.container:last-child {
		border-bottom: 2px solid;
	}

	ul li.menu-item:nth-child(1) {
		order: 2
	}

	ul li.menu-item:nth-child(2) {
		order: 3
	}

	ul li.menu-item:nth-child(3) {
		order: 4
	}

	ul li.menu-item:nth-child(4) {
		order: 5
	}
	
	ul li.menu-item:nth-child(5) {
		order: 6
	}
	
	ul li.menu-item:nth-child(6) {
		order: 7
	}

	ul li.menu-item:nth-child(7) {
		order: 1;
		flex-basis: 100%;
		text-align: center;
		padding-bottom: 3%;
	}

	button {
		height: 29px;
		width: 168px;
		background-color: transparent;
		font-family: inherit;
		background-image: none;
		margin-top: 5%;
	}
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}